.map {
    margin-top: 30px;
  
    min-height: 300px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: 2px dashed #cbd5e1;
    border-radius: 12px;
  
    background-color: #f8fafc;
  
    color: #64748b;
  
    font-size: 1.2rem;
    font-weight: 600;
  }